@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,300;9..144,400;9..144,500;9..144,600&family=Manrope:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  border: none;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  text-underline-position: under;
  text-decoration-thickness: 8;
}
:focus:not(:focus-visible) {
  outline: none;
}

body { 
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  max-width: 393px;
}

.body-container {
  background-color: #FCF8FF;
}

.header-container {
  position: relative;  
  display: flex;
  flex-direction: column;
  background-color: #24053E;
  width: 100%;
  height: 481.71px;
  /* margin-bottom: 175px; */
  border-bottom-left-radius: 100% 50px;
  border-bottom-right-radius: 100% 50px;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: "Manrope", sans-serif;
    font-size: 1.6rem;
    padding: 32px 16px 0 16px;
}

nav svg {
    display: inline;
    width: 95.76px;
    height: 24.61px;
}

.apply-access {
    display: inline;
    color: #ffffff;
    margin-left: auto;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    padding-bottom: 4px;
}

.h1-hero {
    font-family: "Fraunces", sans-serif;
    font-size: 4.59rem;
    font-weight: 500;
    /* font-style: semibold; */
    color: #ffffff;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 65px;
    text-align: center;
    line-height: 5.5rem;
}

.grn-underline {
  display: inline;
  /* padding-bottom: 5px; */
    border-bottom: .2rem solid #44FFA1;
}
 button {
  background-color: #44FFA1;
  font-style: "Manrope", serif;
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 35px;
  margin-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
  padding: 18px 23px;
}

.hero-image {
  width: 320px;
  height: 184px;
  margin-right: auto;
  margin-left: auto;
}

.insights-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #FCF8FF;
  padding-top: 115px;
  padding-bottom: 65px;
  color: #24053E;
  border-bottom-left-radius: 100% 50px;
  border-bottom-right-radius: 100% 50px;
  box-shadow: 0px 5px 5px .5px #979797;
  margin-bottom: 75px;
}

.insights-num {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Fraunces", serif;
  font-size: 2rem;
  color: #24053E;
  border: solid 1px #584D62;
  border-radius: 50%;
  width: 48px;
  height: 46px;
  margin: 25px auto 0px auto;
}

.insights-header {
  font-family: "Fraunces", serif;
  font-size: 2.8rem;
  display: block;
  margin: 15px 0 18px 0;
}

.insights-description {
  font-family: "Manrope", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 15px 15px 15px;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tester-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 225px;
}

.owner-image {
  position: absolute;
  width: 281px;
  height: 281px;
  margin-right: auto;
  margin-left: auto;
  top: -230px;
  z-index: -1

}

.tester-text-container {
  display: flex;
  flex-direction: column;
  background-color: #24053E;
  color: #ffffff;
  width: 343px;
  height: 375px;
}

.tester-header {
  font-family: "Fraunces", serif;
  font-size: 2.7rem;
  display: block;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 20px;
}

.tester-description {
  font-family: "Manrope", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  margin: 0 30px;
  line-height: 2.8rem;;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;;
  height: 210px;
}

.footer-logo {
  display: block;
  width: 95.75px;
  height: 24.61px;
  margin-top: 65px;
  margin-bottom: 40px
}

.social-logos-footer {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: baseline;
}

.social-logo {
  margin-right: 12px;
  margin-left: 12px;
}

.right-spiral {
  display: none;
}

.right-spiral {
  display: none;
}

.left-spiral {
  display: none;
}

/* Tablet Sizing */

@media only screen and (min-width: 768px) {
  
  body {
    max-width: 768px;
  }

  nav {
    padding: 32px 35px 0px 35px;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .header-container {
    position: relative;
    height: 540.24px;
  }

  .svg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .apply-access {
    font-size: 1.6rem;
  }

  .h1-hero {
    padding-left: 170px;
    padding-right: 170px;
    font-weight: 500;
    font-size: 6.0rem;
    line-height: 6.7rem;
    margin-bottom: 20px;
  }

  .h1-grn-underline {
    display: inline-block;
    border-bottom: .2rem solid #44FFA1;
  }

  header button {
    margin-top: 15px;
  }

  .hero-image {
    width: 514px;
    height: 296px;
  }

  .insights-container {
    padding-top: 200px;
  }

  .right-spiral {
    display: inline;
    position: absolute;
    width: 250px;
    height: 170px;
    top: 260px;
    left: 640px;
  }

  .left-spiral {
    display: inline;
    position: absolute;
    top: 75px;
    right: 650px;
  }

  .insights-container {
    display: block;
    box-shadow: none;
  }

  .insights-block {
    margin-left: 100px;
    margin-right: 100px;
  }

  .insights-header {
    text-align: left;
    margin-bottom: 15px;
  }

  .insights-description {
    text-align: left;
    padding-left: 60px;
    padding-bottom: 40px
  }

  .insights-detail {
    line-height: 2.8rem;
  }

  .insights-num {
    float: left;
    margin-top: 40px;
  }

  aside, .tester-container {
    display: block;
  }

  .tester-text-container {
    width: 514px;
    height: 375px;
  }

  .tester-header {
    text-align: left;
    margin-left: 50px;
    font-size: 4rem;
  }

  .tester-description {
    text-align: left;
    padding-left: 20px;
    padding-right: 30px;
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: 400;
    margin-top: 20px
  }

  .tester-text-container button {
    margin-left: 50px;
    margin-top: 25px;
  }

  .owner-image {
    margin-right: 0;
    margin-left: 0;
  }

}