  @import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,500;9..144,600&family=Manrope:wght@400;700&display=swap');



*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  border: none;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  text-underline-position: under;
  text-decoration-thickness: 8;
}
:focus:not(:focus-visible) {
  outline: none;
}

body { 
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  max-width: 393px;
}

.header-container {
  position: relative;  
  display: flex;
  flex-direction: column;
  background-color: #24053E;
  width: 100%;
  height: 481.71px;
  margin-bottom: 175px;
  border-bottom-left-radius: 100% 50px;
  border-bottom-right-radius: 100% 50px;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: "Manrope", sans-serif;
    font-size: 1.6rem;
    padding: 32px 16px 0 16px;
}

nav svg {
    display: inline;
    width: 95.76px;
    height: 24.61px;
}

.apply-access {
    display: inline;
    color: #ffffff;
    margin-left: auto;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    padding-bottom: 4px;
}

.h1-hero {
    font-family: "Fraunces", sans-serif;
    font-size: 4.59rem;
    font-weight: 500;
    /* font-style: semibold; */
    color: #ffffff;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 65px;
    text-align: center;
    line-height: 5.5rem;
}

.grn-underline {
  display: inline;
  /* padding-bottom: 5px; */
    border-bottom: .2rem solid #44FFA1;
}

header button {
  background-color: #44FFA1;
  font-style: "Manrope", serif;
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 35px;
  margin-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
  padding: 18px 23px;
}

.hero-image {
  width: 320px;
  height: 184px;
  margin-right: auto;
  margin-left: auto;
  /* padding-bottom: 100px */

}